USE [master]
GO
/****** Object:  Database [DBStudentRegistrationSystem]    Script Date: 19/01/2021 1:35:56 pm ******/
CREATE DATABASE [DBStudentRegistrationSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBStudentRegistrationSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DBStudentRegistrationSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBStudentRegistrationSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\DBStudentRegistrationSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBStudentRegistrationSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBStudentRegistrationSystem]
GO
/****** Object:  User [art]    Script Date: 19/01/2021 1:35:59 pm ******/
CREATE USER [art] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[mainadmin]
GO
/****** Object:  Schema [Test]    Script Date: 19/01/2021 1:35:59 pm ******/
CREATE SCHEMA [Test]
GO
/****** Object:  Table [dbo].[tblAccounts]    Script Date: 19/01/2021 1:35:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccounts](
	[accountID] [smallint] NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Username] [varchar](25) NOT NULL,
	[Password] [varchar](25) NOT NULL,
	[AccountType] [varchar](25) NULL,
	[AccountStatus] [varchar](15) NULL,
	[LogID] [smallint] NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_tblAccounts] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEducation]    Script Date: 19/01/2021 1:36:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEducation](
	[educationID] [smallint] IDENTITY(10001,1) NOT NULL,
	[StudentID] [varchar](25) NOT NULL,
	[SchoolType] [varchar](50) NULL,
	[SchoolName] [varchar](100) NULL,
	[Program] [varchar](50) NULL,
	[Grade] [varchar](50) NULL,
	[GradudationDate] [varchar](10) NULL,
	[ChosenCourse] [varchar](100) NULL,
 CONSTRAINT [PK_tblEducation] PRIMARY KEY CLUSTERED 
(
	[educationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLogs]    Script Date: 19/01/2021 1:36:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogs](
	[Logid] [smallint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](25) NOT NULL,
	[AccountType] [varchar](50) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[LogLevel] [varchar](50) NULL,
	[LogMessage] [varchar](50) NULL,
 CONSTRAINT [PK_tblLogs] PRIMARY KEY CLUSTERED 
(
	[Logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblParentGuardianTable]    Script Date: 19/01/2021 1:36:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblParentGuardianTable](
	[ParentID] [smallint] IDENTITY(10001,1) NOT NULL,
	[StudentID] [varchar](25) NOT NULL,
	[FathersName] [varchar](100) NULL,
	[FathersOccupation] [varchar](50) NULL,
	[FathersContactNum] [varchar](20) NULL,
	[MotherName] [varchar](100) NULL,
	[MotherOccupation] [varchar](50) NULL,
	[MothersContactNum] [varchar](20) NULL,
	[GuardiansName] [varchar](100) NULL,
	[GuardiansOccupation] [varchar](50) NULL,
	[GuardiansContactNum] [varchar](20) NULL,
	[GuardiansRelationship] [varchar](50) NULL,
 CONSTRAINT [PK_tblParentGuardianTable] PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRegistrationInfo]    Script Date: 19/01/2021 1:36:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRegistrationInfo](
	[RegID] [smallint] NOT NULL,
	[StudentID] [varchar](25) NULL,
	[LastEditBy] [varchar](50) NULL,
	[DateTime] [timestamp] NULL,
	[Status] [varchar](50) NULL,
	[Remarks] [text] NULL,
 CONSTRAINT [PK_tblRegistrationInfo] PRIMARY KEY CLUSTERED 
(
	[RegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 19/01/2021 1:36:00 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[StudentID] [varchar](25) NOT NULL,
	[LRN] [varchar](30) NULL,
	[FirstName] [varchar](100) NOT NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NOT NULL,
	[Suffix] [varchar](20) NULL,
	[Gender] [varchar](20) NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Birthplace] [varchar](100) NOT NULL,
	[CivilStatus] [varchar](25) NOT NULL,
	[Citizenship] [varchar](50) NOT NULL,
	[StreetNo] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[Subdivision] [varchar](50) NULL,
	[Barangay] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Province] [varchar](50) NULL,
	[ZipCode] [varchar](10) NULL,
	[EmailAdd] [varchar](50) NULL,
	[ContactNo] [varchar](20) NULL,
	[timestamp] [datetime] NULL,
	[admissionType] [varchar](25) NULL,
 CONSTRAINT [PK_tblStudent] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LRN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
